<div class='container'>
<h3>User</h3>
<p>Name: <%= @user.first_name if @user.first_name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Email: <%= @user.nickname if @user.email %></p>
<p>Email: <%= @user.gender if @user.nickname %></p>
<p>Email: <%= @user.headline if @user.headline %></p>
<p>Email: <%= @user.about if @user.about %></p>
<p>Email: <%= @user.social if @user.social %></p>
<p>Email: <%= @user.location if @user.location %></p>
<p>Email: <%= @user.website if @user.website %></p>
<p>Email: <%= @user.favorite_website if @user.favorite_website %></p>
<p>Email: <%= @user.email if @user.email %></p>
</div>