<div class='main-wrap'>
   <div class='main'>
      <h2>Add and search for great local restaurants </h2>
      <h3>People make use of Foodpl.us to search for a local restaurants and come back to post reviews based on their experienced. </h3>
      <p>
      <%= link_to 'Create an Account', new_user_registration_path, class: 'btn btn-info btn-lg' %> or 
      <%= link_to 'Login to your Account', new_user_session_path, class: 'btn btn-warning btn-lg' %>
      </p>
    </div>
</div>

<div class='container home-page'>
<h2>RECENT ADS</h2>
<% @food_places.in_groups_of(6) do |group| %>
    <div class="row">
      <% group.each do |food_place| %>
        <% if food_place %>
          <div class='col-md-2 col-sm-4 col-xs-6 clearfix main-text'>
          <div class="thumbnail">
          
           <%= image_tag food_place.image_url, class: 'img-responsive', style:"width:100%;height:130px" %>
           <div class='star-rating' data-score= <%= @avg_rating %> ></div>
           <p><%= pluralize("#{food_place.reviews.length}", "review")%></p> 
           <h4><%= link_to food_place.name, food_place %></h4>
           </div>
          </div>
        <% end %>
      <% end %>
    </div>
<% end %>
</div>

<!-- <div class='jumbotron'>
  <h2>Foodspot is the easiest way to find and reviews on local restaurant </h2>
  <h3>Explore your favorite food on the go <br> leave reviews and rating for your fav foodies</h3>
</div> -->



<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/foodplace/uploads/stars',
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    }
  });
</script>
