<div class='container'>
  <div class='row search'>
  
    <div class='col-md-9 col-sm-8 clearfix'>
        <div class="row">
        <h2>Recent Added Restaurants</h2><hr>
          <% @food_places.each do |food_place| %>
            <% if food_place %>
              <div class='col-sm-12'>
                <div class='row'>
                  <div class='col-sm-3 hidden-xs'><br>
                    <%= image_tag food_place.image_url, class: 'img-responsive', style:"width:100%;height:150px" %>
                  </div>
                  <div class='col-sm-9'>
                    <h3><%= link_to food_place.name, food_place %></h3>
                    <div class='star-rating' data-score= <%= @avg_rating %> ></div>
                    <p><%= pluralize("#{food_place.reviews.length}", "review") %></p>
                    <p>
                      <%= truncate(food_place.about, length:160, seperator: '') %><br>
                      <%= link_to food_place.website, food_place.website, target:'_blank'%>
                    </p>
                  </div>
                </div>
                <hr>
              </div>

            <% end %>
          <% end %>
          
        </div>
      <div class='paginate'>
      <%= paginate @food_places, :outer_window => 3 %>
      </div>
    </div>
    <div class='col-md-3 col-sm-4 clearfix'>
       <h2>Review of the Day</h2><hr>
           <% @reviews.each do |r| %>
           <div class='row'>
             <div class='col-xs-4'>
               <%= image_tag r.user.image_url, class: 'img-responsive', style:"width:100%;height:50px" %>
             </div>
             <div class='col-xs-8'>
                <%= link_to "#{r.user.first_name.capitalize} #{r.user.last_name.capitalize[0]}.", r.user %> reviewed <%= link_to r.food_place.name, r.food_place %>
              <%= r.created_at.strftime("%-m/%-d/%y") %><br>
              <div class='star-rating' data-score= <%= r.rating %> ></div>   
             </div>
           </div>
               
             <p><%= truncate(h(r.comment).gsub(/\n/, '<br/>').html_safe, length: 200, seperate: '' ) %></p>
           <% end %>
       
     </div> 
     <hr> 
  </div>
  
</div>


<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/foodplace/uploads/stars',
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    }
  });
</script>
