<div class='row'>
 <div class='col-md-3'>
	 	<%= image_tag @food_place.image_url %>
	<h2>
	 
	  <%= @food_place.name %>
	</h2>

	<div class='star-rating' data-score= <%= @avg_rating %> ></div>
	<p><%= "#{@reviews.length} reviews"%></p>

	<p>
	  <strong>Address:</strong>
	  <%= @food_place.address %>
	</p>

	<p>
	  <strong>Phone:</strong>
	  <%= @food_place.phone %>
	</p>

	<p>
	  <strong>Website:</strong>
	  <%= link_to @food_place.website, @food_place.website, target:'_blank' %>
	</p>
	<%= link_to "Write a Review", new_food_place_review_path(@food_place), class: 'btn btn-primary' %>
 </div>
 <div class='col-md-9'>
 <% if @reviews.blank? %>
 		<h3>No reviews yet. Be the first to review this food place</h3>
 <% else %>
	 <table class="table">
	 <thead>
	 	<tr>
	 		<th class='col-md-3'></th>
	 		<th class='col-md-3'></th>
	 	</tr>
	 </thead>
		 <tbody>
		 	<% @reviews.each do |r| %>
		 
			 <tr>
			 	<td>
			 		<h4><%= "#{r.user.first_name.capitalize} #{r.user.last_name.capitalize[0]}. "%>
			 		</h4>
			 		<p><%= r.created_at.strftime("%-m/%-d/%y") %></p>
			 		</td>
			 		<td>
			 		<div class='star-rating' data-score= <%= r.rating %> ></div>
					 <p><%= h(r.comment).gsub(/\n/, '<br/>').html_safe %></p>

					 <% if user_signed_in? %>
					 	<% if (r.user == current_user) || (current_user.admin?)%>
					 	<%= link_to "Edit", edit_food_place_review_path(@food_place, r) %>
					 	<%= link_to "Delete", food_place_review_path(@food_place, r), method: :delete %>
					 	<% end %>
					 	<% end %>
			 	</td>
			 </tr>
			 <% end %>
		</tbody>
	 </table> 
	<% end %>
 </div>
</div>


<%= link_to 'Edit', edit_food_place_path(@food_place), class: "btn btn-link" %> |
<%= link_to 'Back', food_places_path, class: "btn btn-link" %>
<script>
	$('.star-rating').raty({
		path: 'https://s3.amazonaws.com/foodplace/uploads/stars',
		readOnly: true,
		score: function(){
			return $(this).attr('data-score');
		}
	});
</script>
