<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header container-fluid">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if user_signed_in? %>
      <%= link_to 'FoodPlus', search_food_places_path, class: 'navbar-brand hidden-sm' %>
      <% else %>
      <%= link_to 'FoodPlus', root_path, class: 'navbar-brand hidden-sm' %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       
      </ul>
      <%= form_tag search_food_places_path, method: :get, class: "navbar-form navbar-left" do %>
        <p>
          <%= text_field_tag :search, params[:search], placeholder: "Enter restaurant name, city, state, or zip code", class: "form-control", style: 'width: 450px'; %>
    
          <%= submit_tag "Search", name: nil, class: "btn btn-default"  %>
        </p>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
     
        <% if user_signed_in? %>
         <li><%= link_to 'Add Restaurant', new_food_place_path, class: 'hidden-sm' %></li>
          <li class="dropdown hidden-sm">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <% if current_user.image_url %>
          <%= (image_tag current_user.image_url, style: "width:30px;height:30px;border-radius:50%") %>
          <% else %>Hi
          <%= current_user.first_name %>
          <% end %>
          <span class="caret"></span></a>
          <ul class="dropdown-menu ">
             <li><%= link_to 'Profile', current_user %></li>
            <li><%= link_to "Account Setting", edit_user_registration_path, class: 'hidden-sm' %></li>
            <li><%= link_to 'Signout', destroy_user_session_path, method: :delete, class: 'hidden-sm' %></li>
            </ul>
        </li>

           <li class="dropdown hidden-lg hidden-md hidden-xs">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MENU<span class="caret"></span></a>
          <ul class="dropdown-menu ">
            <li><%= link_to 'Add Restaurant', new_food_place_path %></li>
            <li><%= link_to current_user.first_name, edit_user_registration_path %></li>
            <li><%= link_to 'Signout', destroy_user_session_path, method: :delete%></li>
            </ul>
        </li>
          <% else %>
          <li><%= link_to 'Register', new_user_registration_path %></li>
          <li><%= link_to 'Signin', new_user_session_path %></li>
        
          
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>